@import "tailwindcss";
@import "./assets/styles/base.css";
@import "./assets/styles/themes.css";
@import "./assets/styles/utilities.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*FONTS*/
@font-face {
    font-family: Noto Sans Georgian;
    src: url('./assets/fonts/NotoSansGeorgian-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Noto Sans Georgian;
    src: url('./assets/fonts/NotoSansGeorgian-Medium.ttf') format('truetype');
    font-weight: 500; /*MEDIUM*/
}

@font-face {
    font-family: Noto Sans Georgian;
    src: url('./assets/fonts/NotoSansGeorgian-Bold.ttf') format('truetype');
    font-weight: 700; /*BOLD*/
}

@font-face {
    font-family: FiraGo;
    src: url('./assets/fonts/FiraGO-Regular.ttf') format('truetype');
    font-weight: 400; /*REGULAR*/
}

@font-face {
    font-family: FiraGo;
    src: url('./assets/fonts/FiraGO-SemiBold.ttf') format('truetype');
    font-weight: 600; /*SEMIBOLD*/
}

@font-face {
    font-family: FiraGo;
    src: url('./assets/fonts/FiraGO-Bold.ttf');
    font-weight: 700; /*BOLD*/
}